body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  width: 960px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}
button {
	border: 1px solid gray;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px;
}
div {
	text-align: center;
}
input[type=text]{
	width: 75px;
}
path.slice{
	stroke-width:2px;
}
polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
} 
svg text.percent{
	fill:white;
	text-anchor:middle;
	font-size:12px;
}
table, svg {
	margin: 0 auto;
}
tr:nth-child(odd) {
	background-color: #eee;
}
tr > td, span {
	font-size: 0.8em;
	padding: 10px;
}
#donut {
	width: 960px;
	height: 300px;
}